.app {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  font-family: 'Montserrat', sans-serif;
}

.stopper {
  width: 100%;
  height: 100%;
  padding: 10% 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.time {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 6px;
}

.timer {
  width: 90px;
  text-align: center;
}

.stopper-items {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}

.stopper-items span {
  font-size: 4rem;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease;
}

.stopper-items span:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.records {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.record-row {
  width: 70%;
  display: grid;
  grid-template-columns: 70px calc(100% - 140px) 70px;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0;
  transition: all 300ms ease;
}

.record-row:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.delete-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms ease;
}

.delete-btn:hover {
  background-color: rgb(220, 50, 50);
}

.delete-btn span {
  font-size: 3rem;
}

.record-index {
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
}

.record-item {
  text-indent: 1rem;
}


.stopper button {
  width: 120px;
  height: 60px;
  padding: 0.5rem 0;
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
  border: none;
}

.stopper button:hover {
  background-color: rgb(220, 50, 50);
}



@media screen and (max-width: 700px) {
  .time {
    font-size: 3rem;
  }

  .stopper-items span {
    font-size: 3rem;
  }

  .controller {
    height: unset;
  }

  .records {
    font-size: 2rem;
  }

  .delete-btn span {
    font-size: 2rem;
  }

  .record-row {
    width: 100%;
    grid-template-columns: 40px 200px 40px;
  }

}

@media screen and (max-height: 600px) {
  .time {
    font-size: 3rem;
  }

  .stopper {
    flex-direction: row;
    padding: 1rem 1rem;
    align-items: unset;
  }

  .stopper-items span {
    font-size: 3rem;
  }

  .records {
    font-size: 2rem;
  }

  .record-row {
    width: 90%;
  }

  .delete-btn span {
    font-size: 2rem;
  }
}